<div class="jumbotron jumbotron-fluid transparente">
  <div class="container">
    <h1 class="display-4"><%= t('welcome') %></h1>
    <p class="lead"><%= t('welcome_msg') %></p>
    <hr class="my-4">
    <p><%= t('beginning') %></p>
    <%= link_to t('movies'), movies_path, class:'btn btn-primary btn-lg' %>
  </div>
</div>